<!DOCTYPE html>
<html lang="de">
<head>
  <title>Votierung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="shortcut icon" type="image/ico" href="logo.ico" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body style="padding: 20px 0 20px 0;">

<div id="app" class="ui container inverted">
  <img src="logo.svg" style="width: 80px; height: auto;"/>
  <h1>Votierung</h1>
  <br>

  <form class="ui form inverted">
    <div class="field inverted">
      <label>Dein Name</label>
      <input type="text" v-model="name">
    </div>
    <div class="field">
      <label>Nummer des Blatts</label>
      <input type="number" v-model="sheet_number">
    </div>
    <div class="field">
      <label>Anzahl an Aufgaben</label>
      <input type="number" v-model="number_of_tasks">
    </div>
    <button type="button" class="ui button inverted green field mini" @click="number_of_tasks++">+</button>
    <button type="button" class="ui button inverted red field mini" @click="number_of_tasks--">-</button>

    <li class="task" v-for="(task, i) in tasks">
      <span class="ui button inverted" :class="{'green': tasks[i].value}">
        <input type="checkbox" :id="'task_' + i" v-model="task.value">
        <label class="ui inverted" :for="'task_' + i">Aufgabe {{i + 1}}</label>
      </span>
    </li>

  </form>

  <br><br>
  <p>
    CSV:<br>
    <pre id="csv_text">{{csv_output}}</pre>
  </p>
  <p>
    <button class="ui button inverted" id="copy_csv_to_clipboard_button" @click="copy_csv_to_clipboard">In die Zwischenablage kopieren</button>
    <a class="ui button inverted" :download="csv_filename" :href="'data:text/plain;charset=utf-8,' + encodeURIComponent(csv_output)">Download</a>
  </p>
</div>

<script src="index.js"></script>

</body>
</html>
