<!DOCTYPE html>
<html lang="de">
<head>
  <title>Votierung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="shortcut icon" type="image/ico" href="logo.ico" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app" class="ui container" style="margin-top: 20px;">
  <img src="logo.svg" style="width: 80px; height: auto;"/>
  <h1>Votierung</h1>
  <br>

  <form class="ui form">
    <div class="field">
      <label>Dein Name</label>
      <input type="text" v-model="name">
    </div>
    <div class="field">
      <label>Nummer des Blatts</label>
      <input type="number" v-model="sheet_number">
    </div>
    <div class="field">
      <label>Anzahl an Aufgaben</label>
      <input type="number" v-model="number_of_tasks">
    </div>
    <li v-for="(task, i) in tasks">
      Aufgabe {{i + 1}}:
      <input type="checkbox" :id="'task_' + i" v-model="task.value">
    </li>
  </form>

  <br><br>
  <p>
    CSV:<br>
    <pre id="csv_text">{{csv_output}}</pre>
  </p>vue js
  <p>
    <button class="ui button" id="copy_csv_to_clipboard_button" @click="copy_csv_to_clipboard">In die Zwischenablage kopieren</button>
    <a class="ui button" :download="csv_filename" :href="'data:text/plain;charset=utf-8,' + encodeURIComponent(csv_output)">Download</a>
  </p>
</div>

<script>
class Task {
  value = false

  get binary() {
    return this.value ? '1' : '0'
  }

  toString() {
    return this.binary;
  }
}

const vue = new Vue({
  data: {
    name: localStorage.getItem('name') || 'Name',
    number_of_tasks: 4,
    sheet_number: 3,
    tasks: [],
    copy_clipboard: false
  },
  computed: {
    csv_output: function() {
      const csv = [this.sheet_number, this.name, ...this.tasks]
      return csv.join(';')
    },
    csv_filename: function() {
      const name_underscore = this.name.replace(' ', '_')
      return `Übungsblatt${this.sheet_number}_${name_underscore}.csv`
    }
  },
  methods: {
    update_task_list: function() {
      const delta = this.number_of_tasks - this.tasks.length
      if (delta > 0) {
        // If positiov, add the number of delta elements
        for (let i = 0; i < delta; i++) {
          this.tasks.push(new Task())
        }
      } else if (delta < 0) {
        // If negative, remove the number of delta elements
        for (let i = 0; i < -delta; i++) {
          this.tasks.pop()
        }
      }
    }, copy_csv_to_clipboard: function() {
      navigator.clipboard.writeText(this.csv_output)
      document.getElementById("copy_csv_to_clipboard_button").innerText = "kopiert 🎉"
    }
  },
  watch: {
    number_of_tasks: function() {
      this.update_task_list()
    },
    name: function() {
      // Save name in localStorage for future visits of this site
      localStorage.setItem('name', this.name)
    }
  },
  el: '#app'
})
vue.update_task_list()

function download(filename, text) {
  const element = document.createElement();
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);
  element.style.display = 'none';
  document.body.appendChild(element);
  element.click();
  document.body.removeChild(element);
}

</script>

</body>
</html>
